.importModal {
  :global {
    .ant-form {
      .ant-form-item {
        margin-bottom: 0;
      }
      .hintText {
        color: #bbc0c7;
        font-size: 12px;
      }
    }
  }
}

.importExcel {
  width: 312px;
  padding: 0px 24px 0px 0px;

  .template {
      background: #f6f7f9;
      padding: 8px;
      margin-bottom: 28px;
  }
  .iconSize {
      .wh(16px, 16px);
  }

  :global {
      .ant-form .ant-form-item .ant-upload-list .ant-upload-list-text-container .v2UploadFileStatsItem {
        width: 260px;
      }
    }
}
