.progress {
  .item {
    .flex(row, nowrap, flex-start, center);
    .point {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #cccccc;
      margin-right: 6px;
    }

    .time {
      font-size: 14px;
      color: #666666;
    }

    .desc {
      font-size: 14px;
      color: #222222;
      margin-left: 20px;
      margin-top: 1px;
    }
  }

  .separator {
    height: 24px;
    border-left: 1px solid #cccccc;
    margin: 6px 3px;
  }
}
