@import "../utils/stylesMix";
@import "./var";

.header {
    height: @global_header_height;
    width: 100vw;

}
.container {
    overflow: hidden;
    background: #fff;
    width: 100vw;
    height: calc(100vh - @global_header_height);
    display: flex;
    .nav {
        width: @global_nav_width;
        height: 100%;
    }

    .content {
        width: calc(100% - @global_nav_width);
        height: 100%;
    }
}

