.radioOtherInput {
  height: 56px;
  display: flex;
  align-items: center;
  :global {
    .ant-form-item {
      margin-bottom: 0px;
      display: inline-block;
      margin-left: 8px;
    }
  }
}

.dropdownSelectOther {
  position: relative;
  height: 72px;
  :global {
    .ant-form-item {
      display: inline-block;
      position: absolute;
      bottom: 0;
      margin-left: 8px;
    }
  }
}
.checkbox {
  display: inline-block;
}
.checkboxOther {
  position: relative;
  bottom: -20px;
  display: inline-block;
}
