.container {
  
  .content {
    width: 1200px;
    background-color: #fff;
  }
}

.active-info-editor-form {

  :global {

    .ant-form-item-label {
      width: 100px;
      margin-right: 8px;
      text-align: right;

      > label {
        color: #768098;
      }
    }
  }

  .btn-wrapper {
    margin-left: 108px;
  }
}
