.container {
  .searchBox {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
  }

  .tableCon {
    background-color: #fff;
    padding: 10px
  }
}

.modalCanvasDrawImg {
  .flex()
}

.videoItem {
  display: inline-block;
  width: 50%;
}
