.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status-default {
  background: rgba(149, 155, 171, 1);
}

.status-success {
  background: rgba(82, 196, 26, 1);
}
.status-warning {
  background: rgba(255, 134, 29, 1);
}

.status-error {
  background: rgba(255, 77, 79, 1);
}

.status-processing {
  background: rgba(0, 57, 194, 1);
}