.container {
  padding: 20px 16px;
}
.title {
  font-size: 16px;
  font-weight: bold;
  color: #1d2129;
}

.top {
  position: relative;
  .topText {
    .title();
  }
  .topBtn {
    position: absolute;
    right: 0;
  }
}
.baseInfo {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
  .title {
    .title();
  }
}
.communication {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
  .title {
    .title();
  }
}

.point {
  margin-top: 24px;
  padding-bottom: 24px;

  .title {
    .title();
  }
}
