.box {

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    animation: spin 5s infinite;
}