.competitiveAnalysis {
  // padding: 16px 0 20px 0;
  padding-bottom: 20px;
  width: 100%;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .moreDescriptionIcon {
      color: #cccccd;
      margin-left: 4px;
    }
  }
  .info {
    width: 100%;
    margin-bottom: 20px;
    .leftBox {
      min-width: 100%;
      height: 240px;
      background: #f6f7f9;
      border-radius: 8px;
      margin-right: 20px;
      overflow: hidden;
      .emptyImg {
        object-fit: cover;
      }
    }
    .rightBox {
      height: 100%;
      .scoreTop {
        display: flex;
        align-items: center;
        .score {
          height: 33px;
          font-size: 24px;
          font-weight: 500;
          color: #5084f3;
          line-height: 33px;
          margin-right: 4px;
        }
        .scoreTitle {
          height: 18px;
          font-size: 12px;
          font-weight: 500;
          color: #717a8f;
          line-height: 18px;
        }
      }
    }
  }
  .box {
    height: 270px;
    background: #ffffff;
    border-radius: 8px;
    opacity: 0.92;
    border: 1px solid #eeeeee;
  }
  .charts {
    .wh(100%, 100%);
  }
}
