{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": null,
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "rule-empty-line-before": null,
    "indentation": [4, {
      "except": ["value"]
    }],
    "max-empty-lines": 2,
    "selector-pseudo-class-no-unknown": [ true, {
      "ignorePseudoClasses": ["global"]
    } ],
    "number-leading-zero": "never",
    "unit-whitelist": ["em", "rem", "%", "s", "vh", "vw", "px", "deg"]
  }
}
