.formSearch {
  margin-bottom: 10px;
  .okBtn{
    margin-right: 16px;
  }
  .resetBtn {
    border: none;
    color: #acb4c7;
    padding: 0;
    svg {
      // margin-right: 8px;
    }
    &:hover {
      color: #acb4c7;
    }
    &:active {
      color: #acb4c7;
    }
  }

  :global {
    .ant-form-item {
      margin-bottom: 10px;
    }

    .ant-form-item-control {
      width: @search-form-content;
    }
  }
}
.rightOperate-top{
  display: flex;
  align-items: flex-start;
}

.rightOperate-middle{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.rightOperate-bottom{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.searchLabel4 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-4;
    }
  }
}
.searchLabel5 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-5;
    }
  }
}
.searchLabel6 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-6;
    }
  }
}
.searchLabel7 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-7;
    }
  }
}
.searchLabel8 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-8;
    }
  }
}
.searchLabel9 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-9;
    }
  }
}
.searchLabel10 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-10;
    }
  }
}
.searchLabel11 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-11;
    }
  }
}
.searchLabel12 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-12;
    }
  }
}

.formRangeInput {
  display: flex!important;
  align-items: center;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  .formRangeInputSingle {
    width: 30px;
    .formRangeInputSingleBorder {
      width: 52px;
      height: 2px;
      background: #F2F4F9;
      margin: 0 auto;
    }
  }
  :global {
    .ant-input-number {
      flex: 1;
    }
    .ant-select {
      .ant-select-selector {
        background: #F2F4F9;
        border: none;
        color: #768098;
      }
    }
  }
  .extra {
    background: #F2F4F9;
    color: #768098;
    line-height: 38px;
    padding: 0 11px;
  }
}
.formMultipleDatePicker{
  :global {
    .ant-form-item-control-input {
      width: @search-form-control
    }
    // .ant-tag-hidden{
    // display: inline-block;
    // }
  }
}

// 公司组织架构及人员下拉框
.companyRoleSelect{
  position: relative;
  .rightBtn{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #006AFF;
  }
}