.dataInfoContent {
  .infoItem {
    color: #222222;
    font-size: 14px;
    line-height: 20px;
  }
  .infoSubTitle {
    font-weight: 600;
    font-size: 14px;
    color: #222222;
    line-height: 20px;
    margin-top: 24px;
  }
}