.confidentialityAgreement {
  background-color: #ffffff;
  color: #16325D;
  font-size: 14px;
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    text-align: center;
    padding-top: 20px;
  }
  .agreeItem {
    padding: 10px 64px;
  }
}
