.basicInfo {
  background-color: #f7f7fa;
  border-radius: 4px;
  // height: 72px;
  padding: 16px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  .card {
    // margin-left: 90px;
    &:not(:last-child) {
      margin-right: 90px;
    }
  }
}
