.dictionaryPage {
  height: 100%;

  .siderbarSection {
    .headCon {
      padding: 16px 8px;
      border-bottom: 1px solid #eee;
    }
  }

  .coreSection {
    .searchCon {
      background: #fff;
      padding: 24px 8px 0px;
    }

    .tableCon {
      // margin-top: 10px;
      background: #fff;

      // padding: 24px 8px 0px;
    }
  }
}

// 抽屉弹窗中自定义的样式
.drawerBodyHead {
  .bodyHead {
    padding: 20px 12px 0;
  }
}
