// 模块的公共表头
.topTitle {
  height: 108px;
  position: relative;
  .topTitleText {
    line-height: 45px;
    padding-top: 40px;
    font-weight: 600;
    font-size: 32px;
    color: #222222;
  }
  .topTitleNumber {
    position: absolute;
    right: 23px;
    top: 0;
    width: 82px;
    height: 84px;
    line-height: 84px;
    background-color: #FF5E00;
    font-size: 32px;
    text-align: center;
    color: #fff;
  }
}
// 模块的公共底部logo
.bottomLogo {
  height: 95px;
  display: flex;
  padding-top: 23px;
  justify-content: space-between;
  border-top: 2px solid #222222;
  .bottomLogoImg {
    width: 272px;
    height: 28px;
  }
  .bottomLogoText {
    font-size: 20px;
    color: #222222;
    line-height: 28px;
  }
}
// 公共Item
.item {
  font-size: 12px;
  .itemLabel {
    color: #999;
    line-height: 17px;
  }
  .itemValue {
    color: #17273A;
    line-height: 17px;
  }
}
