.operateBtns {
  :global {
    .ant-btn {
      margin-right: 10px;
      height: auto;
      // padding: 0 15px; // fix: 会影响到全局其他用这个组件的按钮样式
    }

    .ant-btn-link {
      padding: 0 15px;
      padding-left: 0;
      margin-right: 0;
    }
  }
}