.mapCon {
  .wh(100%, calc(100vh - 48px - 32px));
  :global {
    // 地址名称样式
    ._label {
      width: max-content;
      box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.26);
      color: white;
      border-radius: 20px;
      padding: 6px 12px;
      &.isScale {
        animation: markerAnimationScale 0.3s linear;
      }
    }
    .label {
      ._label();
      background-color: #006aff;

      &.isScale {
        animation: markerAnimationScale 0.3s linear;
      }
    }
    .noPlanLabel {
      ._label();
      background-color: #1abaff;
    }
    .orangeLabel {
      ._label();
      background-color: #ff861d;
    }
    .bigLabel {
      ._label();
      padding: 8px 16px;
    }
    .content {
      display: inline-flex;
    }
    .areaName {
      display: inline-block;
      max-width: 80px;
      .oneLine();
    }
    .bigAreaName {
      font-size: 18px;
      max-width: 120px;
      .oneLine();
    }
    .signAreaName {
      max-width: max-content;
      width: max-content;
    }
    .planned {
      display: inline-block;
      margin-left: 8px;
      background-color: white;
      color: black;
      padding: 0 4px;
      border-radius: 10px;
    }
    .bigPlanned {
      .planned();
      font-size: 18px;
    }
    ._triangle {
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translate(-50%);
      border: 6px solid #006aff;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    .triangle {
      ._triangle();
      border: 6px solid #006aff;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: #006aff;
    }
    .bigTriangle {
      ._triangle();
      bottom: -17px;
      border: 9px solid #006aff;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: #006aff;
    }
    .noPlanBigTriangle {
      .bigTriangle();
      border: 9px solid #1abaff;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: #1abaff;
    }
    .orangeTriangle {
      ._triangle();
      border: 6px solid #ff861d;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: #ff861d;
    }
    .orangeBigTriangle {
      ._triangle();
      bottom: -17px;
      border: 9px solid #ff861d;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: #ff861d;
    }
    .signTriangle {
      ._triangle();
      position: absolute;
      bottom: 32px;
      left: 50%;
      border: 6px solid #006aff;
      border-bottom-color: #006aff;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
    }
    .back {
      display: inline-block;
      margin-left: 16px;
    }
    .bigBack {
      font-size: 18px;
    }

    // 省市圆圈样式
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      width: 84px;
      height: 84px;
      border-radius: 50%;
      box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.26);
      padding: 10px;
      text-align: center;
    }
    .mapCircle {
      background-color: #006aff;
      .circle();
    }
    .orangeMapCircle {
      .circle();
      background-color: #ff861d;
    }
    .opacity {
      opacity: 0.8;
    }
    .signImg {
      .wh(32px,38px);
      img {
        .wh(100%,100%);
      }
    }
    // 省市区聚合样式
    .circlebox {
      .wh(64px, 64px);
      border-radius: 50%;
      border: 1px solid #fff;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
      background-color: #f6f7f9;
      .f-DAJ(column, center, center);

      .whiteBg {
        text-align: center;
        .wh(80%);
        border-radius: 50%;
        .f-DAJ(column, center, center);
        background-color: #fff;

        .text-name {
          margin-top: 4px;
          font-size: 12px;
          font-weight: bold;
          line-height: 16px;
          color: #132144;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
          white-space: normal;
        }

        .text-total {
          font-size: 14px;
          line-height: 17px;
          color: #132144;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  // clusterMarkerCon  --  区级别以下，点位 聚合
  :global {
    .clusterMarkerCon {
      background-color: #006aff;
      box-shadow: 0px 4px 6px 0px rgba(89, 98, 119, 0.2);
      border: 1px solid #ffffff;
      .wh(36px,36px);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}
// 省市区label样式
.mapLabel {
  background-color: white;
  position: relative;
  width: max-content;
  padding: 0px 16px 8px 8px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  .colorCircle {
    margin-right: 4px;
    .wh(8px);
    border-radius: 50%;
    display: inline-block;
  }
  .line {
    padding-top: 8px;
    font-size: 12px;
    .rightLine {
      margin: 0 4px;
      .wh(1px,10px);
      display: inline-block;
      background: #333;
      display: center;
      justify-content: center;
      align-items: center;
    }
  }
  .triangle {
    position: absolute;
    top: -12px;
    left: 20%;
    transform: translate(50%);
    border: 6px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.isScale {
  .animation(markerAnimationScale,0.3s,linear);
}
// 点位样式
.pointCon {
  width: max-content;
  // 普通形态
  .triangle {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%);
    border: 4px solid white;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  .contentCon {
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 9px 0px rgba(40, 40, 40, 0.12);
    .iconBox {
      .wh(18px);
      background-color: #006aff;
      color: white;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      margin-right: 4px;
    }
    .value {
      max-width: 70px;
      font-weight: bold;
      font-size: 12px;
      .oneLine();
    }

    .planBox {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 12px;
      .line {
        display: inline-block;
        .wh(1px,9px);
        margin: 0 4px;
        background-color: #222;
      }
    }
  }

  // hover后放大
  &:hover {
    transform: scale(1.5);
  }
}
.opacity {
  opacity: 0.8;
}
