.layout {
    height: 100%;
    width: 100%;
    display: flex;


    .left {
        width: 320px;
        height: 100%;
        background-color: var(--deep);
    }

    .right {
        width: calc(100% - 320px);
        height: 100%;
        background-color: var(--bg-deep);
    }
}
