.tabsChildCon {
  .flex();
  margin-top: 12px;
  margin-bottom: 12px;

  .item {
    padding: 3px 12px;
    border: 1px solid #ddd;
    border-radius: 13px;
    color: #666;
    background-color: #fff;
    margin-right: 8px;
    cursor: pointer;
    &.active {
      color: #fff;
      border-color: #006aff;
      background-color: #006aff;
    }
  }
}