.selectApproveModal {
  :global {
    .ant-modal-content{
      border-radius: 8px;
    }
    .ant-modal-header {
      background: #fff;
      border-radius: 8px 8px 0 0;
      padding: 18px 24px !important;
    }
    .ant-modal-title {
      text-align: left !important;
      font-size: 20px;
    }
    .ant-modal-body {
      padding-top: 12px;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    background: #F6F7F9;
    border-radius: 8px;
    color: #4E5969;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .rowLeft {
    display: flex;
    align-items: center;
  }
}