.container {
  background-color: #fff;
  padding: 12px;

  :global {
    .ant-table-wrapper {
      .ant-table-tbody {
        .ant-btn.ant-btn-link {
          padding-left: 0
        }
      }
    }
  }
}
