.basicWrapper {
  .flex(row, nowrap, space-between, center);

  .basicInfo {
    flex: 1;
    margin-right: 32px;
    .label {
      font-size: 14px;
      color: #999999;
      margin-top: 16px;
    }

    .value {
      color: #222222;

      background: #F7F7FA;
      border-radius: 4px;
      padding: 6px 8px;
      margin-top: 4px;
    }


  }

  .basicMap {
    width: 554px;
    height: 454px;

  }

}