.recommendIndustryCircleModal {
  :global {
    .ant-modal-body {
      max-height: 70vh;
      overflow-y: auto;
    }
  }
  .flexCon {
    .flex();

    .anchorCon {
      flex: 1;
      margin-left: 20px;
    }
  }
}