.brandTag {
  display: inline-block;
  flex-shrink: 1;
  border-radius: 1px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 4px;
  height: 20px;
  line-height: 20px;
  border: solid 0.5px;

  background-color: rgba(4,112,165,0.12);
  color: #0470A5;
  border-color: #0897B4;

  &.level1 {
    background-color: rgba(136,40,251,0.15);
    color: #9933FF;
    border-color: #9933FF;
  }
  &.level2 {
    background-color: rgba(255,134,110,0.08);
    color: #FF565E;
    border-color: #FF565E;
  }
  &.level3 {
    background-color: rgba(252,105,0,0.08);
    color: #FC9124;
    border-color: #FC9124;
  }    
  &.level4 {
    background-color: rgba(132,137,195,0.08);
    color: #7B84E1;
    border-color: #7B84E1;
  }      
}