.compute {
  padding-left: 26px;
  padding-right: 26px;

  .textArea {
    width: 100%;
    min-height: 60px;
    border: 1px solid #dcdfe6;
    padding: 4px 10px;
    font-size: 10;

    .exprItem {
      border: 1px solid #dcdfe6;
      padding: 2px 4px 2px 4px;
      margin-right: 8px;
      font-size: 12px;
      background-color: #dcdfe6;
    }

    .exprItem:hover {
      cursor: pointer;
      background-color: white;
    }
  }

  .tag {
    border: 1px solid #dcdfe6;
    padding: 2px 4px 2px 4px;
    margin-right: 8px;
    font-size: 12px;
    background-color: #dcdfe6;
  }

  .tag:hover {
    cursor: pointer;
    background-color: white;
  }
}

// switch选择样式
.showSwitch {
  :global {
    .ant-switch-checked {
      background-color: #1ba373;
    }
  }
}
