.clusterType {
  .treeTitCon {
    .flex(row, nowrap, flex-start, center);
  }
  :global {
    .ant-tree {
      .ant-tree-list {
        .ant-tree-list-holder {
          .ant-tree-list-holder-inner {
            .ant-tree-treenode {
              .ant-tree-indent {
                .ant-tree-indent-unit {
                  width: 19px;
                }
              }
              .ant-tree-switcher {
                width: 21px;
                padding-right: 5px;
              }
              .ant-tree-node-content-wrapper {
                padding-left: 0
              }
              .ant-tree-node-selected {
                background: none;
              }
              .ant-tree-checkbox {
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
  }
}
