// 降低高德地图logo层级
// .map-polygon-wrapper {
//   :global {

//     .amap-logo, .amap-copyright {
//       z-index: 6;
//     }
//   }
// }

.V2AMap {
  :global {

    .amap-logo, .amap-copyright {
      z-index: 2;
    }
  }
}

.location-icon{
  padding: 2px 5px;
  border-radius: 50% 50%;
  // border: 1px solid rgba(255,255,255,0.4);
  background: linear-gradient(180deg, #97C2FF 1%, #006AFF 100%);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.16);
  font-size: 12px;
  color: #FFFFFF;
  line-height: 12px;
  text-align: center;
}

.mapComOfLoadingCon {
  .wh(400px, 400px);
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
  z-index: 9;
  // `CSSTransition`在切换页面时创建动画效果，如果固定（fixed）元素出现闪烁或闪烁，可能是由以下原因之一造成的：
  // 使用的是React Router，可能是由于新旧页面同时存在于DOM树中导致的。在这种情况下，固定元素可能会同时存在两个，从而产生闪烁效果。
  // animation: none;
}

// .center-circle{
//   background: url(https://staticres.linhuiba.com/project-custom/pms/icon/position.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center;
//   width: 32px;
//   height: 34px;
//   color: #000;
//   text-align: center;
// }