.editOrCreateModal {
  .tips {
    .text(#999, 12px, 24px);
    font-weight: 400;
  }


  :global {
    .ant-checkbox-group {
      width: 100%;

      .ant-checkbox-wrapper {
        margin-bottom: 14px;
        margin-right: 0;
        width: 25%;
      }
    }


  }
}