.component-doc {
  padding: 10px 24px;
  background-color: #FFFFFF;

  .color-warning {
    color: #E6A23C;
  }

  > h2,
  div > h2 {
    margin: 20px 0 10px;
    font-size: 21px;
  }

  > h3,
  div > h3 {
    margin: 20px 0 10px;
    font-size: 16px;
  }

  > h4,
  div > h4 {
    margin: 10px 0;
    font-size: 14px;
  }

  > p,
  div > p {
    margin: 10px 0;
  }

  code {
    display: inline-block;
    margin: 0 4px;
    border: 1px solid #EAEEFB;
    border-radius: 4px;
    padding: 1px 5px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    word-break: break-word;
    color: #5E6D82;
    background-color: #F9FAFC;
  }
}

.doc-table,
.doc-markdown-hastable table {
  width: 100%;

  td,
  th {
    border-bottom: 1px solid #DCDFE6;
    padding: 15px 0;
    min-width: 50px;
    max-width: 100px;
    font-size: 14px;
    word-break: break-all;
  }

  td {
    color: #666666;
  }

  th {
    color: #999999;
  }

  thead {

    th {
      text-align: left;
    }
  }

  tbody {

    td {
      vertical-align: top;
    }
  }
}
