/* 颜色 */
@primary-logo-color: #17335d; // 主色
@primary-yellow: #ff861d; // 主色
@primary-yellow-hover: #ff9e4a; // 主色hover
@primary-yellow-opacity: #fff3e8; // warning类plain按钮背景色
@primary-bg-color: #f5f5f5; // 主背景色
@content-bg-color: #ffffff; // 内容背景色
@dividing-line: #eeeeee; // 分割线颜色
@border-color: #dddddd; // 描边色
@primary-text-1: #333333; // 主文字色1
@primary-text-2: #666666; // 主文字色2
@dark-note-text-1: #999999; // 暗提示文字1
@dark-note-text-2: #cccccc; // 暗提示文字2
@primary-blue: #006aff; // primary类按钮色
@primary-blue-hover: #3392ff; // primary类按钮hover色
@primary-blue-opacity: #e5f2ff; // primary类plain按钮背景色
@primary-green: #009963; // success类按钮色
@primary-green-hover: #33ad82; // success类按钮hover色
@primary-green-opacity: #e5f4ef; // success类plain按钮背景色
@primary-red: #f23030; // danger类按钮色
@primary-red-hover: #f55959; // danger类按钮hover色
@primary-red-opacity: #fdeaea; // danger类plain按钮背景色
@primary-gray: #c8c9cc; // disabled类按钮色
@error-status-color: #f23030; // 错误状态文字颜色、价格、消息提示红点、注销
@error-status-bg: #fdeaea; // 错误状态背景颜色
@success-status-color: #27c259; // 成功状态中文本颜色
@success-status-bg: #e9f8ee; // 成功状态背景颜色
@table-thead-bgc: #fafafa; // 表头背景色
@btn-primary-color: #0077ff; // 按钮默认背景色
@text-color-green: #009963; // 字体颜色
@tab-bg-yellow: #fff2e8; // tab选中背景色



// form item
@search-form-label-4: 70px;
@search-form-label-5: 89px;
@search-form-label-6: 103px;
@search-form-label-7: 117px;
@search-form-label-8: 131px;
@search-form-label-9: 145px;
@search-form-label-10: 159px;
@search-form-label-11: 173px;
@search-form-label-12: 187px;
@search-form-content: 240px;
@search-form-control: 260px;
