@import '../../config-v2/ant.less';
.V2FormMultipleInput {
  :global {
    .@{ant}-input-number {
      width: 100%;
    }
  }
  .V2FormMultipleInputExtra {
    background: #F6F7F9;
    color: #222;
    line-height: 30px;
    padding: 0 11px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}