.container{
  overflow-y: auto;
  padding: 25px 16px 16px;
  background-color: #fff;
}

.placeContainer{
  width: 300px;
}

.locxxContainer{
  overflow-y: auto;
  border: 1px solid #999999;
  height: 300px;
}

.crtorName{
  width: 120px !important; 
}
