@defaultcolor: @primary-blue;

.container {
  width: 100%;
  .warnTips {
    // margin-top: -16px;
    margin-bottom: 10px;
  }
  .tabsChange {
    display: flex;
    border-radius: 1px;
    li {
      font-weight: 500;
      width: 114px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      background-color: #fff;
      box-shadow: 1px 0 #e5e9f2, 0 1px #e5e9f2, 1px 1px #e5e9f2, 1px 0 #e5e9f2 inset, 0 1px #e5e9f2 inset;
      &:hover {
        .active();
        cursor: pointer;
      }
    }
    .active {
      box-shadow: 1px 0 @defaultcolor, 0px 1px @defaultcolor, 1px 1px @defaultcolor, 1px 0 @defaultcolor inset,
        0 1px @defaultcolor inset;
      color: @defaultcolor;
      background: rgba(0, 106, 255, 0.04);
      z-index: 2;
    }
  }

  :global{
    .ant-card-bordered{
      border-radius: 8px;
      border: 1px solid #EEEEEE;
    }
  }
}
