.mapCon {
  .wh(100%, 100%);
  :global {
    .clusterCon {
      .wh(84px,84px);
      border-radius: 50%;
      background: #006aff;
      box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.26);
      font-size: 14px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

// 点位marker样式
.pointCon {
  height: 36px;
  background: rgba(0, 106, 255, 0.98);
  box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.26);
  width: max-content;
  padding: 6px 18px 6px 15px;
  color: white;
  border-radius: 18px;
  line-height: 24px; //36-6-6
  .triangle {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
    border: 6px solid #006aff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  &:hover {
    background-color: #ff861d;
    .triangle {
      border: 6px solid #ff861d;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
}
// 点位marker样式
.active {
  background-color: #ff861d;
  .triangle {
    border: 6px solid #ff861d;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

// label样式
.labelCon {
  background-color: white;
  box-shadow: 0px 0px 12px 0px rgba(110, 139, 179, 0.25);
  border-radius: 4px;
  .wh(268px,105px);
  padding: 16px;
  .triangle {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%);
    border: 6px solid white;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  .title {
    position: relative;
    .score {
      position: absolute;
      right: 1px;
      font-weight: bold;
    }
    .name {
      font-weight: bold;
      max-width: 180px;
      display: inline-block;
      .oneLine();
    }
  }
  .area {
    color: #666;
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 12px;
  }
  .bottom {
    position: relative;
    line-height: 24px;
    font-size: 12px;
    .btn {
      position: absolute;
      right: 0;
      width: 60px;
      height: 24px;
      background: #006aff;
      border-radius: 12px;
      color: white;
      text-align: center;
    }
  }
}
