.circleTag {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #222222;
  .circleTagDot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 4px;
  }
}