.title {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #17273A;
  line-height: 16px;
  padding-left: 8px;
  position: relative;
  margin-bottom: 24px;
  .leftBorder {
    position: absolute;
    left: 0;
    top: 1px;
    width: 2px;
    height: 14px;
    background-color: #006AFF;
  }
}