.titleOperate {
  .flex(row, nowarp, space-between,center);
  margin-bottom: 12px;

  &.content {
    .text(#222, 18px, 18px);
    font-weight: bolder;
  }

  :global {
    .ant-tabs {
      margin-bottom: 0;
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      content: none;
    }
  }
}

.line {
  .wh(100%, 1px);
  display: block;
  margin: 0 0 16px;
  background-color: #eee;
}
