.recordList {
  width: 312px;
  overflow-y: auto;
  border-top: none;
  margin-bottom: 20px;
  height: 350px;
  margin-top: 20px;
  padding: 5px;
}

.box{
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #DDDDDD;
  width: 100%;
  color: #DDDDDD;
  border-radius: 5px;
}