/*
* pdf的标题
*/
.listTitle{
  display: flex;

  .number{
    width: 77px;
    height: 93px;
    font-size: 80px;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 93px;
    margin-right: 20px;
  }

  .largeNumber{
    width: 149px;
    height: 180px;
    font-size: 154px;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 180px;
    margin-right: 28px;
  }

  .titleContent{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title{
      height: 50px;
      font-size: 36px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 50px;
    }

    .largeTitle{
      height: 78px;
      font-size: 56px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 78px;
    }

    .subheadingEn{
      height: 20px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 20px;
      margin-top: 4px;
      margin-left: 2px;
    }

    .largeSubheadingEn{
      height: 26px;
      font-size: 19px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 26px;
      margin-left: 2px;
    }
  }
}