.wrapper {
  padding: 24px;
  flex: 1;
  background: linear-gradient(187deg, #ECF6FF 0%, #FFFFFF 100%);
  border-radius: 8px;
  border: 2px solid #ECF6FF;

  .score {
    margin-bottom:29px ;
    border-bottom: 2px solid #ECF6FF;;
    .digit {
      font-family: DINAlternate-Bold, DINAlternate;
      display: inline-block;
      font-weight: bold;
      font-size: 32px;
      color: #FF8400;
      margin-right: 8px;
    }
    .text{
      font-size: 14px;
      color: #222222;
    }
  }
  .scoreRange{
    font-weight: 500;
    font-size: 20px;
    color: #222222;
    margin-bottom: 9px;
  }
  .scoreDesc{
    font-size: 14px;
    color: #999999;
  }
  // :first-child{
  //   margin-bottom: 16px;
  // }
}
.distanceWrapper{
  margin-bottom: 16px;
}
