.container {
  background-color: #fff;
  padding: 12px;
  height: 100%;
}

.pointer {
  color: #006AFF;
  cursor: pointer;
}

// .pretext {
//   flex: 1;
//   display: -webkit-box;
//   overflow: hidden;
//   white-space: pre-wrap;
//   -webkit-box-orient: vertical;
//   text-overflow: ellipsis;
//   word-break: break-all;
// }