$bg: #f3f5f9;
$color: #a2a8c3;
.search {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 15px;
  background-color: $bg;

  .icon {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    margin-left: 8px;
    flex: 1;
    height: 100%;
    background-color: $bg;
    color: $color;
    outline: none;
    border: none;
  }
}