.titleRow {
  background: #fff;
  padding: 24px 0 16px;
  position: sticky;
  top: 0px;
  z-index: 9;
}
.basic {
  margin-bottom: 16px;
  background: #fff;
  .topInfo {
    .flex(row, nowrap, flex-start, flex-start);
  }
  .leftside {
    width: 800px;
  }
  .leftup {
    .label23 {
      color: #717A8F;
    }
    .baseInfo {
      margin-top: 10px;
      border: solid 1px #F4F5F7;
      border-radius: 2px;
      padding: 24px;
      .flex(row, nowrap, flex-start, flex-start);
    }
  }
  .rightside {
    .mapTip {
      margin-bottom: 8px !important;
    }
  }
}
