.container {
  .f-DAJ(row, top, flex-start);
  height: 100%;
  .rightPart {
    height: 100%;
    flex: 1;
    background-color: white;
    padding: 0 16px;
    margin-left: 12px;
    overflow-x: scroll;
  }
  .rightMap {
    flex: 1;
    background-color: white;
    margin-left: 12px;
    overflow-x: hidden;
  }
}
.footer {
  margin-top: 16px;
  padding: 16px 32px;
  background-color: white;
  width: 100%;
  text-align: right;
}
