@font-face {
    font-family: "TMM";
    src: url("../fonts/AvenirLTStd-Black.otf");
}

.header {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 99;
    background: top / cover no-repeat url("../assets/bg.png");
}

.context {
    width: 100%;
    position: absolute;
    top:20vh;
}

.context-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
    height: 550px;
    background: top / contain no-repeat url("../assets/image_liaotian.png");
}

.context h1{
    font-family: "TMM";
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #0d1324;
    width: 1000px;
    margin: 0 auto;
}

.context-download-btn{
    display: none;
}

.area{
    width: 100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: linear-gradient(360deg,#00a5dd 2%, #18fbdf 100%);
    border-radius: 50%;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }

}

.section-right,
.section-right01,
.section-right02,
.section-right03{
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

.tmm-bg-left {
    position: absolute;
    left: 0;
    top: 50px;
    width: 619px;
    height: 1122px;
    background: center / contain no-repeat url("../assets/yuan.png");
}

.tmm-bg-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 451px;
    height: 728px;
    background: center / contain no-repeat url("../assets/yuan1.png");
}

.section-right {
    height: 930px;
    padding: 0 90px;
    margin: 0 auto;
    margin-top: 93px;
}

.section-right-txt {
    width: 485px;
    margin: 0 53px 0 250px;
}

.section-right-txt-bold {
    margin-bottom: 40px;
}

.section-right-txt .bold-txt {
    font-size: 36px;
    font-weight: 900;
    text-align: left;
    color: #0d1324;
    font-family: "TMM";
}

.section-right-txt-normal {
    font-size: 18px;
    font-weight: 400;
}

.section-right-img {
    width: 930px;
    height: 930px;
    position: relative;
    background: center / contain no-repeat url("../assets/image_chat_1.png");
}

.section-right-img01 {
    position: absolute;
    bottom: 70px;
    right: 142px;
}

.section-right-img02 {
    position: absolute;
    bottom:169px;
    right: 373px;
}

.section-right01 {
    margin-top: -200px;
    height: 1200px;
    padding: 0;
    align-items: flex-start;
    position: relative;
}

.section-right01-img {
    width: 1000px;
    height: 1200px;
    position: relative;
    background: center / contain no-repeat url("../assets/image_wallet_bg.png");
}

.section-right01 img {
    position: absolute;
}

.section-right01-img01 {
    top: 330px;
    left: 157px;
}

.section-right01-img02 {
    right: 0;
    top: 414px;
}

.section-right01-img03 {
    right: 99px;
    top: 710px;
}

.section-right01 .section-right-txt {
    margin: 300px 0 0 80px;
}

.section-right02 {
    margin-top: -400px;
    height: 990px;
    padding: 0;
    align-items: flex-start;
    position: relative;
}

.section-right02-img {
    width: 902px;
    height: 990px;
    margin-left: auto;
    position: relative;
    background: center / contain no-repeat url("../assets/image_moment_1.png");
}

.section-right02-img img {
    position: absolute;
}

.section-right02 .section-right-txt-normal {
    width: 485px;
}

.section-right02-img01 {
    top: 345px;
    right: 201px;
}

.section-right02-img02 {
    right: 161px;
    bottom: 159px;
}

.section-right02 .section-right-txt {
    width: 600px;
    margin: 560px 58px 250px 360px;
}

.section-right02-txtbg {
    width: 440px;
    height: 440px;
    position: absolute;
    top: 350px;
    left: 160px;
    background: center / contain no-repeat url("../assets/yuan2.png");
}

.section-right03 {
    height: 1140px;
    padding: 0;
    position: relative;
}

.section-right03 .section-right-txt {
    margin: 0;
}


.section-right03-img {
    width: 1120px;
    height: 1140px;
    position: relative;
    background: center / contain no-repeat url("../assets/image_discover_1.png");
}

.section-right03-img img {
    position: absolute;
}

.section-right03-img01 {
    top: 330px;
    left: 208px;
}
.section-right03-img02 {
    top: 663px;
    left: 165px;
}

.section-right03-img03 {
    top: 410px;
    right: 119px;
}

.section-right03-img05 {
    top: 554px;
    right: 231px;
}
.section-right03-img04 {
    top: 514px;
    left: 109px;
}



@media screen and (max-width: 750px) {

    .header {
        height: 500px;
    }

    .section-right,
    .section-right01,
    .section-right02,
    .section-right03{
        flex-direction: column;
    }

    .section-right-txt-bold {
        margin-bottom: 30px;
    }


    .container > div{
        margin: 90px 0;
    }

    .context {
        position: static;
        padding-top: 100px;
    }

    .context h1 {
        width: 329px;
        height: 48px;
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        color: #0d1324;
        /*line-height: 48px;*/
    }

    .context-bg {
        width: 80vw;
        height: 45vw;
    }

    .context-download-btn{
        display: block;
        width: 7rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        background: #00c6db;
        border-radius: 2rem;
        box-shadow: 0px 10px 30px 0px rgb(0 198 219 / 20%);
        margin: 50px auto 0;
    }

    .context-download-btn a {
        color: #FFFFFF;
        text-decoration:none;
        text-underline: none;
    }

    .context-download-btn-bottom {
        width: 11rem;
        margin: 0 auto 90px;
    }

    .area {
        display: none;
    }

    .section-right {
        padding: 0;
        height: unset;
        margin-top: unset;
    }

    .section-right-txt {
        width: 80vw;
        margin: 0 auto;
    }

    .section-right-txt-bold .bold-txt {
        font-size: 20px;
    }

    .section-right-txt-normal {
        font-size: 14px;
        line-height: 24px;
    }

    .section-right-img {
        width: 80vw;
        height: 80vw;
    }

    .section-right-img01 {
        width: 35vw;
        right: 12%;
        top: 15%;
    }

    .section-right-img02 {
        width: 10vw;
        bottom: 18%;
        left: 50%;
        transform: translateX(-50%) !important;
    }

    .section-right01 {
        flex-direction: column-reverse;
        height: unset;
        margin-top: 0;
    }

    .tmm-bg-left {
        width: 50vw;
        height: 80vh;
    }

    .tmm-bg-right {
        width: 50vw;
        height: 80vh;
    }

    .section-right01-img {
        width: 80vw;
        height: 80vw;
        margin: 0 auto;
    }

    .section-right01-img img{
        width: 30vw;
    }

    .section-right01-img01 {
        left: 18%;
        bottom: 10%;
        top: unset;
    }

    .section-right01-img02 {
        right: 2%;
        top: 30%;
    }

    .section-right01-img03 {
        right: 5%;
        top: 58%;
    }

    .section-right01 .section-right-txt {
        margin: 0 auto;
    }

    .section-right02 {
        margin-top: 0;
        height: unset;
    }

    .section-right02 .section-right-txt {
        width: 80vw;
        margin: 0 auto;
    }

    .section-right02 .section-right-txt-normal {
        width: 100%;
    }

    .section-right02-txtbg {
        display: none;
    }

    .section-right02-img {
        width: 80vw;
        height: 80vw;
        margin: 0 auto;
    }

    .section-right02-img01 {
        top: 32%;
        right: 15%;
        width: 30vw;
    }
    .section-right02-img02 {
        bottom: 10%;
        right: 15%;
        width: 40vw;
    }

    .section-right03 {
        flex-direction: column-reverse;
        height: unset;
    }

    .section-right03-img {
        width: 80vw;
        height: 80vw;
    }

    .section-right03-img img {
        width: 30vw;
    }

    .section-right03-img01 {
        top: 25%;
        left: 15%;
    }

    .section-right03-img02 {
        top: 60%;
        left: 10%;
    }

    .section-right03-img03 {
        right: 5%;
        top: 32%;
    }
    .section-right03-img .section-right03-img04 {
        left: -5%;
        top: 40%;
        width: 20vw;
    }

    .section-right03-img .section-right03-img05 {
        left: unset;
        top: 50%;
        right: 5%;
        width: 20vw;
    }
}