.timeLineWrap {
  display: flex;
  justify-content: flex-start;
  .dotWrap {
    width: 15px;
    height: 15px;
    background: #CCE1FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .dotContent {
      width: 7px;
      height: 7px;
      background: #006AFF;
      border-radius: 50%;
    }
  }
}