.body {
  display: flex;

  .left {
    width: 752px;
    margin-right: 8px;

    .field {
      display: flex;
      align-items: center;

      .minusIcon {
        margin-left: 5px;
        margin-top: 5px;
        color: #999999;
        &:hover {
          color: #006AFF;
        }
      }
    }
  }

  .right {
    width: 312px
  }
}

.submit {
  position: absolute;
  right: 46px;
  bottom: 16px;
}
