.container {
  background-color: #fff;
  // padding: 20px 16px;

  .iframeBox{
    width: 100%;
    height: 100%;
  }
  // :global{
    // .ant-spin-container{
    //   // height: calc(100vh - 62px) !important;
    // }
  // }
}
