.v2Tag {
  font-size: 12px;
  padding: 4px;
  border-radius: 1px;
  margin-right: 4px;
  &.v2Tag-blue {
    background: #EBF3FF;
    color: #006AFF;
    font-weight: 400;
  }
  &.v2Tag-lightBlue {
    background: #F0F4FC;
    color: #4C71C1;
    font-weight: 400;
  }
  &.v2Tag-orange {
    background: #FFF6ED;
    color: #FF861D;
    font-weight: 400;
  }
  &.v2Tag-green {
    background: #E5F4EF;
    color: #009963;
    font-weight: 400;
  }
  &.v2Tag-cyan {
    background: #ECF7F9;
    color: #007992;
    font-weight: 400;
  }
  &.v2Tag-grey {
    background: #F3F3F3;
    color: #484848;
    font-weight: 400;
  }
  &.v2Tag-purple {
    background: #F3F3FE;
    color: #6A53EC;
    font-weight: 400;
  }
  &.v2Tag-red {
    background: #FFF0F0;
    color: #F53F3F;
    font-weight: 400;
  }
  &.v2TagIcon {
    background-color: #F5F5F5;
    color: #666;
  }
}