.detail {
  display: flex;
  .component {
    width: 80%;
  }
  .anchor {
    margin-left: 10px;
  }
}

.radioInputWrap {
  display: flex;
  align-items: center;
}

/****动态树选择器***/

  .dynamic-tree-select-METRO{
      :global{
      .ant-select-tree-switcher.ant-select-tree-switcher-noop{
        width: 12px;
      }
    }
  }