.brandTag {
  display: inline-block;
  flex-shrink: 1;
  border-radius: 1px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 4px;
  height: 20px;
  line-height: 20px;
  border: solid 0.5px;

  background-color: rgba(4,112,165,0.12);
  color: #0470A5;
  border-color: #0897B4;   
  .tagContent {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.tagPopoverContent {
  .honorContent {
    .honorList {
      margin-bottom: 4px;
      font-size: 12px;
    }
    margin-top: 6px;
    padding-left: 7px;
  }
}