@import "utils/stylesMix.less";

.reply_itemwrapper {
    display: flex;
}

.reply_avatar {
    flex: none;
    margin-right: 8px;
}

.reply_username {
    color: #0bcade;
}

.reply_main {
}

.reply_main_column {
    display: flex;
    flex-direction: column;

    .reply_username {
        color: #a2a8c3;
    }
}

.reply_content {
    //display: inline;
    .ellipsisMultiple();
}

.display {
}

.reply_replyusername {
    color: #00c6db;
}
