.title {
  font-size: 16px;
  font-weight: bold;
  color: #1d2129;
}

.top {
  position: relative;
  .topText {
    .title();
  }
  .topBtn {
    position: absolute;
    right: 0;
  }
}

.point {
  margin-top: 24px;
  padding-bottom: 24px;

  .title {
    .title();
  }
}

.communication {
  // margin-top: 24px;
  padding: 24px 0;
  border-top: 1px solid #eee;
  .title {
    .title();
  }
}