.pagination {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  :global {
    .ant-pagination-options {
      .ant-pagination-options-size-changer {
        .ant-select-dropdown {
          position: fixed;
        }
      }
    }
  }
}
