@import '../../config-v2/ant.less';
.V2FormMultipleDatePicker{
  :global {
    .@{ant}-form-item-control-input {
      width: 260px; // 可以使用@search-form-control
    }
    
    .@{ant}-select {
      .@{ant}-select-selector {
        .@{ant}-tag {
          line-height: 22px;
          border-radius: 4px;
          border-color: #F2F3F5;
          font-size: 14px;
          margin-right: 4px;
          .@{ant}-tag-close-icon {
            font-size: 12px;
            margin-left: 4px;
            color: #86909C;
          }
        }
      }
      &.@{ant}-select-multiple {
        .@{ant}-select-selection-item {
          height: auto;
          line-height: 20px;
        }
        &.@{ant}-select-disabled:not(.@{ant}-select-customize-input) {
          .@{ant}-select-selector {
            background: #F4F5F9;
            border-color: #ddd;
            .@{ant}-tag {
              background-color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }
  }
}