.tableToolbar {
  .tableToolbarContainer {
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    .tableToolbarLeft {
      .tableToolbarTitle {
        font-weight: 500;
       font-size: 16px;
      }
    }
  }
}

.tableWrapper {
  height: calc(100vh - 200px);
  overflow: auto;
}