@import '../../config-v2/ant.less';
.v2Pagination {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  :global {
    .@{ant}-pagination {
      .@{ant}-pagination-total-text {
        color: #ACB4C7;
      }
      .@{ant}-pagination-item {
        background: #F5F5F5;
        border-color: transparent;
        a {
          color: #606266;
        }
        &:not(.@{ant}-pagination-item-active) {
          &:hover {
            background-color: #EBF4FF;
            a {
              color: #606266;
            }
          }
        }
      }
      .@{ant}-pagination-item-active {
        background: #006AFF;
        border-color: transparent;
        a {
          color: #FFFFFF;
        }
      }
      .@{ant}-pagination-prev, .@{ant}-pagination-next {
        .@{ant}-pagination-item-link {
          background-color: #F5F5F5;
        }
        button {
          color: #606266;
          border-color: transparent;
        }
        &.@{ant}-pagination-disabled {
          .@{ant}-pagination-item-link {
            background-color: #F5F5F5;
          }
          button {
            color: #C0C4CC;
          }
        }
        &:not(.@{ant}-pagination-disabled) {
          button:hover {
            background-color: #EBF4FF;
            color: #606266;
          }
        }
      }
      .@{ant}-pagination-options {
        .@{ant}-pagination-options-size-changer {
          color: #606266;
          &:not(.@{ant}-select-customize-input) {
            .@{ant}-select-selector {
              border: 1px solid #DCDCDC;
            }
          }
          .@{ant}-select-dropdown {
            position: fixed;
          }
        }
      }
      &.@{ant}-pagination-disabled {
        .@{ant}-pagination-item, .@{ant}-pagination-item:hover {
          background: #F5F5F5;
          border-color: transparent;
          a {
            color: #ccc;
          }
        }
        .@{ant}-pagination-item-active, .@{ant}-pagination-item-active:hover {
          background: #DDDDDD;
          border-color: transparent;
          a {
            color: #999999;
          }
        }
        .@{ant}-pagination-prev, .@{ant}-pagination-next, .@{ant}-pagination-prev:hover, .@{ant}-pagination-next:hover {
          .@{ant}-pagination-item-link {
            background-color: #F5F5F5;
          }
          button {
            color: #ccc;
          }
        }
        .@{ant}-select-disabled.@{ant}-select:not(.@{ant}-select-customize-input) {
          .@{ant}-select-selector {
            color: #CCCCCC;
          }
        }
      }
    }
  }
  .total {
    color: #132144;
  }
}
