.topContainer {
  padding: 16px;
  background-color: white;
  // margin-bottom: 50px;
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .addressBox {
    // margin-bottom: 16px;
    .address {
      color: #666666;
      margin-right: 7px;
    }
  }
  .contentBox {
    margin-bottom: 16px;
    display: flex;
    .label {
      font-size: 14px;
      min-width: 77px;
      color: #666666;
    }
  }
  .progress {
    display: flex;
    > div {
      margin-right: 44px;
    }
  }
}
