/**
 * @Description
 */

.container {
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 8px;

  .topTitle {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
}