.container {
  padding: 0 16px 16px 16px;
  background-color: #fff;

  :global {
    .ant-divider {
      margin-bottom: 16px;
      margin-top: 12px;
      border-top: 1px solid #eee;
    }


  }

  .searchConatin {
    margin-bottom: 10px;
  }
}