.container {
  background: url('~@/assets/images/login-bg.png') 100%/100% no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  min-width: 1440px;
  display: flex;
  align-items: center;
  .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 80%;
    .left {
      width: 50%;
      height: 100%;
      background-color: #f6f7f9;
      position: relative;
      .logo {
        font-size: 180px;
        position: absolute;
        top: -60px;
        left: 40px;
      }
      .mainImg {
        width: 75%;
        margin: 25% auto 0;
        height: 58%;
        background: url('~@/assets/images/online-report.png') 100%/100% no-repeat;
      }
      .rightBottomImg {
        width: 32%;
        height: 27%;
        position: absolute;
        bottom: 0;
        right: 0;
        background: url('~@/assets/images/left-right-bottom.png') 100%/100% no-repeat;
      }
    }
    .right {
      width: 50%;
      height: 100%;
      background-color: #fff;
      padding: 164px 100px;
      position: relative;
      .title {
        font-size: 46px;
        font-family: AlibabaPuHuiTi-Bold, AlibabaPuHuiTi;
        font-weight: bold;
        color: #242434;
        margin-bottom: 40px;
      }
      .icon {
        color: #b7b7bb;
      }
      .rightTopImg {
        width: 32%;
        height: 27%;
        position: absolute;
        top: 0;
        right: 0;
        background: url('~@/assets/images/right-right-top.png') 100%/100% no-repeat;
      }
    }
  }
}
