.container {
  .wh(100%, calc(100vh - 80px));
  position: relative;
  overflow: hidden;

  .top {
    .positionedCon {
      .mixinsPosition(absolute, 10px, null, null, 10px);
      z-index: 9;

      .formProvince,
      .formSelect {
        display: inline-block;
        width: 176px;
        margin-right: 6px;
      }

      .formProvince {
        width: 195px;

        :global {
          .ant-select-single:not(.ant-select-customize-input)
            .ant-select-selector {
            padding: 0 8px;
          }
        }
      }
    }

    .btn {
      width: 104px;
      padding: 1px 6px;
    }

    // .topCon {
    //   .mixinsPosition(absolute, -6px, null, null, 700px);
    //   z-index: 999;
    // }
    .topCon {
      position: absolute;
      top: -6px;
      left: 635px;
    }
  }

  .leftCon {
    //隐藏滚动条
    ::-webkit-scrollbar {
      width: 4px;
      height: 0px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 14px;
      box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
      background: rgba(153, 153, 153, 0.3);
    }

    // .mixinsPosition(absolute, 48px, null, null, 10px);

    border-radius: 2px 2px 0px 0px;
    .wh(310px, auto);
    max-height: 75vh;
    z-index: 9;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.5);

    .top {
      .wh(100%, auto);
      padding-top: 20px;
      // padding-bottom: 20px;
      border-radius: 2px 2px 0px 0px;
      font-size: 14px;
      color: #132144;
      font-weight: bold;

      .title {
        padding-left: 20px;
        // padding-right: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e4e7ed;
      }

      .check {
        .wh(100%, auto);
        padding-top: 16px;
        padding-left: 20px;
        padding-bottom: 10px;
        border-top: 1px solid #f6f7f9;

        .checkLabel {
          color: #999999;
        }
      }
    }

    .listCon {
      .wh(100%, auto);
      max-height: calc(74vh - 80px);
      display: inline-block;
      padding: 0 20px;
      border-radius: 2px;
      overflow: scroll;

      .list {
        margin-top: 10px;

        .item {
          margin-bottom: 32px;
          cursor: pointer;

          .list_top {
            position: relative;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .avatar {
              .wh(24px, 24px);
              display: inline-block;
              // vertical-align: top;

              :global .ant-avatar {
                background: none;
              }
            }

            .score {
              display: inline-block;
              font-size: 14px;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: bold;
              color: #ff861d;
              line-height: 28px;
              margin-right: 8px;
              // vertical-align: top;
            }

            .name {
              display: inline-block;
              width: 160px;
              max-width: 160px;
              // max-width: 30px;
              font-size: 14px;
              color: #132144;
              margin-right: 8px;
              font-weight: bold;

              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              vertical-align: top;
              // height: 24px;
              // line-height: 28px;
            }

            .logo {
              // display: inline-block;
              .wh(14px, 14px);
              margin-right: 4px;

              img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
              }
            }

            .caret {
              .wh(16px);
              display: flex;
              justify-content: center;
              align-content: center;
            }

            // .caret {
            //   position: absolute;
            //   right: 0;
            //   top: 0;
            // }
          }

          a {
            height: 26px;
          }
        }
      }

      :global .ant-card:hover {
        background-color: #f3f6fc;
      }

      .meta {
        :global {
          .ant-card-meta-avatar {
            padding-right: 8px;
          }

          .ant-card-meta-avatar {
            font-size: 14px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #132144;
            line-height: 16px;
          }
        }
      }
    }

    a {
      display: block;
      .wh(100%, 40px);
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #006aff;
      line-height: 40px;
      text-align: center;
    }
  }

  :global {
    .amap-maps {
      .amap-marker-label {
        display: block;
        .wh(16px, 10px);
        border: none;
        font-size: 12px;
        text-align: center;
        background: none;
        color: #fff;
      }
    }

    .icon-label {
      // .wh(auto, auto);
      .wh(132px, auto);
      padding: 5px 12px 5px 8px;
      background: #ffffff;
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
      border: 1px solid #e4e7ed;
      position: relative;
      left: -62px;
      top: 6px;

      .trangle {
        position: absolute;
        top: -12px;
        left: 53px;
        border: 6px solid #000;
        border-top-color: transparent;
        border-bottom-color: #fff;
        border-left-color: transparent;
        border-right-color: transparent;
      }

      .text-name {
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 17px;
        // white-space: nowrap;

        .text-rank {
          color: #ff861d;
        }
      }

      .text-address {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 14px;
      }
    }
  }

  .fullScreen {
    .wh(110px, 32px);
    padding: 0 12px;
    line-height: 32px;
    box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.5);
  }

  :global {
    .iconCon {
      .wh(48px, 48px);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .iconText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
    }

    .iconStyle {
      width: 48px;
      height: 48px;
    }
  }
}

.tooltipName {
  font-size: 14px;
  max-width: 316px;
}
.rankCon {
  .flex(row, nowrap, flex-start, center);
  padding: 10px 8px 10px 12px;

  .rankItem {
    background: #fafafa;
    border-radius: 12px;
    padding: 2px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #222;
    min-width: max-content;
    margin-right: 4px;

    &.active {
      background: #e9f2ff;
      color: #006aff;
      font-weight: bold;
    }
  }
}
