.authorizeModal {
  :global {
    .ant-modal-body {
      min-height: 500px;
    }
  }
  .siteNavigationSteps {
    box-shadow: 0px -1px 0 0 #e8e8e8 inset;
  }
  .treeWrap {
    max-height: 400px;
    overflow: auto;
    margin-top: 10px;
  }
  .operateWrap {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
  }
  .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
  }
}
