.V2RollMarqueeWrapper {
  display: flex;
  overflow: hidden;
  .V2RollMarquee {
    display: flex;
    width: auto;
    &.V2RollMarqueeVertical {
      flex-direction: column;
      height: auto;
    }
  }
}

