.help {
  color: #006AFF;
  margin: 12px 0 0 30px;
  font-size: 12px;
}

.icon {
  margin-right: 8px;
  color: #b7b7bb;
}


.videoModal{
  .operate{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 16px;
  }
}

.deviceCodeInput {
  :global {
    .ant-form-item-control {
      display: flex;
      align-items: center;
      flex-direction: row;
      .ant-form-item-control-input {
        flex: auto;
        width: 0;
      }
    }
  }
}