.V2Flex {
  display: flex;
}

.V2FlexVertical {
  flex-direction: column;
}

.V2FlexRtl {
  direction: rtl;
}

.V2FlexEmpty {
  display: none;
}

.V2FlexGapSmall {
  gap: 8px;
}

.V2FlexGapMiddle {
  gap: 32px;
}

.V2FlexGapLarge {
  gap: 48px;
}

.V2FlexWrapWrap {
  flex-wrap: wrap;
}

.V2FlexWrapNowrap {
  flex-wrap: nowrap;
}

.V2FlexWrapWrapReverse {
  flex-wrap: wrap-reverse;
}

.V2FlexAlignCenter {
  align-items: center;
}

.V2FlexAlignStart {
  align-items: start;
}

.V2FlexAlignEnd {
  align-items: end;
}

.V2FlexAlignFlexStart {
  align-items: flex-start;
}

.V2FlexAlignFlexEnd {
  align-items: flex-end;
}

.V2FlexAlignSelfStart {
  align-items: self-start;
}

.V2FlexAlignSelfEnd {
  align-items: self-end;
}

.V2FlexAlignBaseline {
  align-items: baseline;
}

.V2FlexAlignNormal {
  align-items: normal;
}

.V2FlexAlignStretch {
  align-items: stretch;
}

.V2FlexJustifyFlexStart {
  justify-content: flex-start;
}

.V2FlexJustifyFlexEnd {
  justify-content: flex-end;
}

.V2FlexJustifyStart {
  justify-content: start;
}

.V2FlexJustifyEnd {
  justify-content: end;
}

.V2FlexJustifyCenter {
  justify-content: center;
}

.V2FlexJustifySpaceBetween {
  justify-content: space-between;
}

.V2FlexJustifySpaceAround {
  justify-content: space-around;
}

.V2FlexJustifySpaceEvenly {
  justify-content: space-evenly;
}

.V2FlexJustifyStretch {
  justify-content: stretch;
}

.V2FlexJustifyNormal {
  justify-content: normal;
}

.V2FlexJustifyLeft {
  justify-content: left;
}

.V2FlexJustifyRight {
  justify-content: right;
}
