.modal{
  :global{
    .ant-modal-content{
      border-radius: 8px;
    }
    .ant-modal-body{
      padding: 18px 24px;
    }
  }
  .top{
    display: flex;
    align-items: center;
    position: relative;
    .title{
      font-size:20px ;
      font-weight: bold;
    }
    .icon{
      position: absolute;
      right: 0px;
    }
  }

  .content{
    padding-top: 35px;
    padding-left: 11px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  .img{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      // .wh(100%,100%);
     .wh(110px,112px);
    }
  }
  .bottom{
    margin-top: 8px;
    margin-bottom: 34px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
}