.container {
  padding: 8px 20px 0;

  .message {
    display: flex;
    flex-direction: row-reverse;
  }
}

.mt16 {
  margin-top: 16px;
}

.mt8 {
  margin-top: 8px;
}

.ml20 {
  margin-left: 20px;
}

.flex {
  display: flex;
}

.customRadioGroup {
  line-height: 16px;
}
.customCheckbox {
  white-space: nowrap;
}
