.tabcontainer {
    display: flex;
    align-items: center;

    .tabitem {
        height: 19px;
        font-size: 16px;
        font-weight: 500;
        color: #0d1324;
        line-height: 19px;
        margin-right: 48px;
        cursor: pointer;
    }

    .tabSelected {
        color: #0bcade !important;
    }
}
