.subFormTable {
  .columnTitle{
    :global{
        margin-bottom: 0;
          .ant-form-item-label{
            padding-bottom: 0;
          }
      }
  }

  :global{
    // 数字输入框
    .ant-input-number-in-form-item{
      width: 100%;
    }

    // 时间选择器
    .ant-picker{
      width: 100%;
    }
  }
}
.subFormFooter {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}