.container {
  width: 100%;
  
  background: #fff;
  .content {
    .formContainer {
    }
  }
}

.form {
  width: 80%;
  margin: 0 auto;

  :global {
    .ant-form-item-label {
      width: 100px;

      > label {
        color: #768098;
      }
    }

  }
}