.searchForm {
  padding: 22px 16px 12px;
  background-color: white;
  :global {
    .ant-form-item-control {
      width: 240px;
    }
  }
}

.container {
  padding: 16px;
  background-color: white;
}

.add {
  margin-bottom: 20px;
}