.thanksWrapper {
  width: 595px;
  min-height:1146px;
  background-color: #F4FBFF;

.imgWrapper{
  padding: 32px;
  width: 595px;
  min-height:1146px;
  background: url(https://staticres.linhuiba.com/project-custom/locationpc/thanks.png) no-repeat;
}
  .logo {
    height: 33px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    color: #DDDDDD;
    .logoIcon{
      max-height: 48px;
      .wh(132px,23px);
    }
    .img{
      width: 100%;
      max-height: 48px;

    }
    .flag{
      display: inline-block;
     margin: 0 8px;
    }
  }

  .content {
    padding: 20px;
    flex: 1;
    border-radius: 8px;
    border: 2px solid #C3D8FB;
    margin-bottom: 80px;
    background: #F0F8FF;
    box-shadow: 0px 2px 10px 0px rgba(214, 214, 214, 0.13);

    .title {
      font-weight: 500;
      font-size: 16px;
      color: #666666;
      margin-bottom: 10px;
    }

    .description {
      font-weight: 400;
      font-size: 14px;
      color: rgba(153, 153, 153, 0.85);
    }
  }

  .footer {
    height: 48px;
    display: flex;
    justify-content: center;
    .textWrapper{
      width: 308px;
      height: 100%;
      display: flex;
      .leftLine{
        display: inline-block;
        height: 100%;
        width: 80px;
        margin-right: 10px;
        background: url(https://staticres.linhuiba.com/project-custom/locationpc/pdf-thanks-line.png) no-repeat center;
       }
       .rightline{
        display: inline-block;
         height: 100%;
         width: 80px;
         margin-left: 10px;
         background: url(https://staticres.linhuiba.com/project-custom/locationpc/pdf-thanks-line.png) no-repeat center;
         transform: rotate(180deg);
        }
   
       .thanksText {
        display: inline-block;
         font-weight: 500;
         font-size: 32px;
         color: #222222;
       }
    }

   

  }
}