.overviewCon {
  position: relative;
  background: #FAFAFA;
  border-radius: 8px;
  padding: 16px 21px 35px 24px;
  margin-top: 12px;

  .textAreaCon {
    position: relative;
    // 显示文本域中的换行
    white-space: pre-wrap;
    z-index: 2;
    line-break: anywhere;
  }
  .illustrationCon {
    position: absolute;
    right: 0;
    bottom: 0;
    .wh(95px, 60px);
    z-index: 1
  }
}