.container {
  .tipsInfo {
    margin-top: 0;
    margin-bottom: 0px;
  }
  .tableWrap {
    :global {
      .ant-table-cell-with-append {
        .ant-table-row-expand-icon-spaced {
          display: none;
        }
      }
    }
    .linkWrap {
      display: inline-block;
      padding-left: 30px;
    }
  }
}
