.container {
  background-color: white;
  height: 100%;
  width: 100%;
  .content {
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    height: 100%;
    .tab {
      width: 400px;
      border-right: 1px solid #F6F7F9;
      padding-right: 10px;
    }
  }

}
