@import '../../config-v2/ant.less';
.V2Transfer {
  .V2TransferWrapper {
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 297px;
    color: #222;
    .V2TransferCol {
      padding: 16px 0;
      height: 100%;
      .V2TransferMain{
        display: flex;
        height: 100%;
        flex-direction: column;
        .V2TransferMainHead {
          padding-bottom: 12px;
          margin: 0 16px;
          border-bottom: 1px solid #eee;
          line-height: 20px;
          font-size: 14px;
          .V2TransferTitle {
            display: flex;
            justify-content: space-between;
            .V2TransferTitleRight {
              color: #006AFF;
              cursor: pointer;
            }
          }
        }
        .V2TransferMainList {
          flex: 1;
          overflow-y: auto;
          padding-left: 4px;
          padding-right: 4px;
          .V2V2TransferSearchList {
            padding-left: 16px;
            padding-right: 16px;
          }
          &::-webkit-scrollbar {
            width: 8px; // 固定滚动条宽度
            height: 8px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 14px;
            box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
            background: rgba(144, 147, 153, 0.3);
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
            border-radius: 0;
            background: none;
          }
        }
      }
      &.V2TransferMainLeft {
        border-right: 1px solid #ddd;
      }
    }
    // 左侧带输入框
    &.V2TransferWrapperSearch {
      .V2TransferCol {
        .V2TransferMain {
          .V2TransferMainHead {
            border-bottom: none;
            :global {
              .@{ant}-form-item {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .V2TransferMainRight {
        .V2TransferMain {
          .V2TransferMainHead {
            .V2TransferTitle {
              line-height: 32px;
            }
          }
        }
      }
    }
  }
  :global {
    .v2DragList {
      .v2DragLi {
        height: 28px;
      }
    }
    .@{ant}-tree {
      line-height: 2em;
      .@{ant}-tree-treenode {
        padding-bottom: 0;
        .@{ant}-tree-checkbox {
          margin-top: 7px;
        }
        .@{ant}-tree-switcher {
          line-height: 28px;
        }
      }
      .@{ant}-tree-node-content-wrapper {
        min-height: 28px;
        line-height: 28px;
        height: 28px;
        white-space: nowrap;
      }
    }
  }
}
