.search_box {
  padding: 1.875rem 1.875rem;

  :global {
    .ant-input-affix-wrapper {
      background: #f3f5f9;
      border-radius: 15px;
      display: flex;
      align-items: center;
    }

    .ant-input-prefix {
      margin-left: 5px;
      margin-right: 8px;
      width: 14px;
      height: 14px;
      background: center / contain no-repeat url("../../public/images/icons/icon_search@2x.png");
    }
  }

}

@media screen and (max-width: 750px) {
  .search_box {
    width: 27rem;
    padding: 0;
  }
}