.orderDataError {
  p {
    padding: 26px 0;
  }
  .missingText {
    span {
      color: #ff8500;
    }
  }
}

.searchWrap {
  display: flex;
  justify-content: space-between;
  :global {
    .ant-form {
      .ant-form-item-control {
        width: 240px;
      }
    }
  }
}
