.font {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.chancepointContainer {
  padding: 24px 16px;
  background-color: #fff;

  // .name {
  //   .font();
  //   color: #2441b3;
  //   cursor: pointer;
  //   display: inline-block;
  //   .one-ellipsis();
  //   max-width: 300px;
  // }
}
