.createTaskDrawer {
  :global {
    .ant-drawer-body {
      padding-bottom: 88px;
    }
  }

  .radioList {
    :global {
      .ant-radio-group {
        display: flex;
        flex-direction: column;
      }
    }
    .radioSelect {
      margin-top: 12px;
    }
  }
  
  .assignAccountIds {
    width: 300px;
    display: block;
  }  

  .drawerFooter {
    padding: 0 40px;
    box-sizing: border-box;
    height: 64px;
    box-shadow: 0px -2px 4px 1px #f6f7f9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
  }
}