.taskType {
  width: 600px;
  .addBtn {
    width: 150px;
    padding: 12px;
    color: #006aff;
    display: flex;
    align-items: center;
  }
}

.submit {
  position: absolute;
  right: 46px;
  bottom: 16px;
}
