.container {
  background-color: #fff;
  padding: 16px;

  .title {
    color: #17273A;
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 12px;
  }

  :global {
    .ant-row {
      .ant-col {
        position: relative;
        text-align: left;

        .logo {
          font-size: 12px;
          color: grey;
        }
      }
    }

  }
}

.emptyAdd {
  color: @primary-blue;
  cursor: pointer;
}