.v2TitleOuter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .v2Title {
    color: #1D2129;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    &.v2TitleH1 {
      font-size: 18px;
      line-height: 28px;
    }
    &.v2TitleH2 {
      font-size: 16px;
      line-height: 22px;
    }
    &.v2TitleH3 {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    .divider {
      width: 3px;
      height: 14px;
      background: #006AFF;
      margin-right: 4px;
    }
    .v2TitleCopy {
      font-size: 16px;
      color: #999;
      cursor: pointer;
    }
  }
}
