
.formDrawer {
  :global {
    .ant-drawer-body {
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  .mainCon {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 220px;
  }

  .footerCon {
    width: 100%;
    .flex(row, nowrap, flex-end);
    padding: 16px 40px;
    background-color: #fff;
  }
}
