.font {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.storeMapContainer {
  padding: 20px 16px;
  background-color: #fff;

  .titleOperate {
    .flex(row, nowarp, space-between, center);
    .text(#222, 18px, 18px);
    font-weight: bolder;
    margin-bottom: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
  }
}