.incomeCard {
  width: 100%;
  margin-top: 16px;

  :global {
    .ant-card-body {
      padding: 16px;
    }
  }

  .titleTips {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .simplyTable {
    display: flex;
    flex-direction: row;
    padding: 0 8px;

    .tableItem {
      flex: 1;

      .header {
        font-size: 12px;
        color: #959BAB;
      }

      .body {
        font-size: 14px;
        font-weight: 500;
        color: #16325D;
        margin-top: 8px;
      }
    }
  }

}


/* 店铺基本信息 */
.basicInfoCard {
  width: 100%;
  margin-top: 16px;

  :global {
    .ant-card-body {
      padding: 16px 16px 8px;
    }
  }

  .cardTitle {
    font-size: 16px;
    font-weight: 500;
    color: #16325D;
  }

  .tagContent {
    margin-top: 8px;
    display: flex;

    .tagValue {
      padding: 0 8px;
      height: 24px;
      line-height: 24px;
      color: #006AFF;
      font-size: 12px;
      border: 1px solid #CCE1FF;
      margin-right: 16px;
      border-radius: 2px;
    }
  }

  .infoContent {
    margin-top: 12px;
  }
}

/* TabTitle */
.tabTitle {
  font-size: 18px;
  font-weight: 500;
  color: #16325D;
  margin-top: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F4F5F7;
}

/* tab info */
.tabInfoContent {
  .imagesContent {
    display: flex;

    img {
      width: 156px;
      height: 86px;
      object-fit: cover;
    }
  }

  .flexSectionCon {
    .flex(row, wrap);
    color: #333;
  }
}

.secondTitle {
  margin: 16px 0 10px;
  font-weight: 400;
  color: #17273A;
}