.topApproval {
  background: #F7F8FA;
  border: solid #eee 1px;
  border-radius: 2px;
  padding: 10px 16px;
  .flex(row, nowrap, space-between, center);
  .approvalLeft {
    .flex(row, nowrap, flex-start, center);
  }
  .approvalItem {
    .flex(row, nowrap, flex-start, center);
  }
  .seprateLine {
    margin: 0 24px;
    width: 1px;
    height: 14px;
    background: #DDD;
  }
  .point {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #FF861D;
  }
  .cursorPointer {
    cursor: pointer;
  }
}