
  .primaryRadio{
    :global{
      .ant-radio-group{
        background: #F6F7F9;
        border-radius: 6px !important;
        .ant-radio-button-wrapper{
          line-height: 32px !important;
          height: 32px !important;
          border: none !important;
          background: #F6F7F9;
          border-radius: 6px;
          &::before{
            width: 0;
          }
          // 重置焦点样式，:focus，:focus-within同时修改
          &:focus{
            box-shadow: none ;
          }
          &:focus-within{
            box-shadow: none ;
          }
        }
        .ant-radio-button-wrapper-checked{
          color: #fff !important;
          background-color: #006AFF;
        }
      }
    }
  }

  .defaultRadio{
    margin-left: 26px;
    :global{
      .ant-radio-group{
        background: #F6F7F9;
        border-radius: 6px !important;
        padding: 2px;
        .ant-radio-button-wrapper{
          line-height: 24px;
          border: none !important;
          color: #5C6775 !important;
          border-radius: 6px;
          background: #F6F7F9;
          &::before{
            width: 0;
          }
          &:focus{
            box-shadow: none ;
          }
          &:focus-within{
            box-shadow: none ;
          }
        }
        .ant-radio-button-wrapper-checked{
          color: #006AFF !important;
          background-color: #fff !important;
         
        }
      }
    }
  }