.formSearch {
  margin-bottom: 10px;

  :global {
    .ant-form-item {
      margin-bottom: 10px;
    }

    .ant-form-item-control {
      width: @search-form-content;
    }
  }
}

.mergeRulesFull {
  justify-content: space-between;
  width: 100%;
}

.searchLabel4 {
  :global {
    .ant-form-item-label {
      min-width: @search-form-label-4;
    }
  }
}

.searchLabel5 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-5;
    }
  }
}

.searchLabel6 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-6;
    }
  }
}

.searchLabel7 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-7;
    }
  }
}

.searchLabel8 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-8;
    }
  }
}

.searchLabel9 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-9;
    }
  }
}

.searchLabel10 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-10;
    }
  }
}

.searchLabel11 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-11;
    }
  }
}

.searchLabel12 {
  :global {
    .ant-form-item-label {
      width: @search-form-label-12;
    }
  }
}

.formSizeInput {
  display: flex!important;
  :global {
    .ant-input-number {
      flex: 1;
    }
  }
}