
.checkbox {
  padding: 12px 24px 0;
  width: 100%;
  position: relative;
  &::before {
    content: "";
    width: 10px;
    height: 30px;
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  }
}