@import "../../../../../../../utils/stylesMix";

.unSupportMsg {
    padding: 5px 13px 7px 16px;
    user-select: text;
    overflow: hidden;
    color: var(--color-lighter);

    .textInfo {
        margin: 8px 0 0 4px;
        display: inline-block;
        flex: none;
        float: right;
        height: 14px;
        line-height: 14px;

        &.compactMargin {
            margin-top: 4px;
        }
    }
}