.container {
  width: 100%;
  .extraMonitor {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    svg {
      font-size: 24px;
    }
    .linkbtn {
      color: #1890ff;
    }
  }
}
