.table {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .childTable {
    :global {
      .ant-table-wrapper .ant-table .ant-table-container .ant-table-thead > tr > th {
        background-color: white;
      }
    }
  }
  :global {
    .ant-table-wrapper .ant-table .ant-table-container .ant-table-tbody .ant-table-expanded-row > td  {
      background-color: #F3F4F6;
    }
  }
}



