.cardLayout {
  // min-width: 1246px;
  width: calc(100%);
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;

  .header {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
    line-height: 22px;
    padding-bottom: 12px;

    border-bottom: 1px solid #EEEEEE;
  }

  .container{
    padding-top:16px ;
  }
}
