.container {
  .table {
    margin-top: -10px;
  }

  .progress {
    .flex(row, nowrap, space-between, center);
    .greenPoint {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #009963;
      margin-right: 4px;
    }
  }
  .redPoint {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #f23030;
    margin-right: 4px;
  }
}
