.heatmapContainer {
  display: flex;
  .layerMask {
    width: 458px;
    height: 260px;
    margin-right: 20px;
    background-image: url(https://staticres.linhuiba.com/project-custom/custom-flow/ic_bg@2x.png);
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.exportBtn{
  &:focus {
    background-color: #fff;
  }
}

.customerCharts{
  border: 1px solid #EEEEEE;
  border-radius: 8px;
}