@import "../../../../utils/stylesMix";

.sessionEdit {
    width: 100%;
    .fullHead {
        padding: 0 12px 0 15px;
        width: 100%;

        .back {
            height: 40px;
            .mix-flex(flex-start, center, row, nowrap);

            .backIcon {
                width: 24px;
                height: 24px;
                cursor: pointer;

                .mix-flex(flex-start, center);

                svg {
                    color: var(--color-lighter);
                }
            }

            .title {
                color: var(--color-lighter);
                margin-left: 16px;
            }
        }
    }
    .avatarBox {
        width: 100%;
        padding: 32px 20px;
        background-color: var(--deep);
        .mix-flex(flex-start, center, column, nowrap);
        .avatar {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            position: relative;
            .mask {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: var(--bg-peer);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        .description {
            margin-top: 16px;
            color: #00c6db;
            font-size: 14px;
            font-family: SFUIText;
            color: #00c6db;
        }
    }
    .editGroupBox {
        width: 100%;
        padding: 0 16px;
        margin-bottom: 16px;
        .editGroupTitle {
            height: 12px;
            font-size: 12px;
            font-family: SFUIText;
            color: #a2a8c3;
            line-height: 12px;
            margin-bottom: 8px;
        }
        .editGroupInput {
            background-color: #eff0f3;
            border-radius: 4px;
            // height: 30px;
            resize: none;
            caret-color: #00c6db;
            // white-space: pre;
            border: 1px solid transparent;
        }
        .editGroupInput:hover {
            border: 1px solid #00c6db;
        }
    }
}
