.dataLinkageWrapper {
  flex: 1;
  background: #F4F5F7;
  border-radius: 2px;
  .dataLinkage {
    padding: 6px 14px;
    .text {
      color: #17273A;
      font-weight: 500;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  .icon {
    margin-left: 8px;
    color: rgba(172, 180, 199, 1);
  }
  .disabled {
    cursor: not-allowed;
  }
}