.marital-con {
    height: 100%;
    display: flex;
    .flex-item {
      width: 144px;
      box-sizing: border-box;
      align-self: center;
      text-align: center;
      margin: 0 auto;
    .img-con {
      display: inline-block;
      margin-bottom: 12px;
    }
    .label{
      font-size: 14px;
      color: #222222;
      line-height: 20px;
      margin-top: 10px;
    }
  }
}

// 客流指数
.customer-flow-charts{
    display: flex;
    height: 100%;
    padding-right:30px;
    .right-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .explain-con{
        width: 128px;
        height: 60px;
        background: #F6F7F9;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        .label{
          height: 16px;
          font-size: 12px;
          color: #C4C7D0;
          line-height: 16px;
        }
        .value{
          height: 28px;
          font-size: 20px;
          font-weight: 600;
          color: #222222;
          line-height: 28px;
        }
      }
    }
}