@dark-bg-color: #1f1f1f;
@dark-bg-color-light: #1f1f1fd1;
@dark-chatbg-color: #252525;
@dark-chatbg-color-1: #313131;
@dark-inputbg-color: #292929;
@dark-spin-color: #29292984;
@dark-inner-color: #595959;
@dark-border-color: #313131;
@dark-icon-color: #898989;
@dark-color: #ffffff;
@dark-color-1: #898989;
@dark-red-light: #fe6869;
@dark-blue-color: #00c6db;
