.franchiseeDetail {
  overflow-y: scroll;
  overflow-x: hidden;
  
  :global {
    .ant-tabs-content {
      padding-right: 183px; // 设计稿223-抽屉右边padding40
    }
  }

  .taskList {
    .name {
      color: #2441b3;
      cursor: pointer;
    }
  }
  
  .statusRecords {
    :global {
      .ant-steps-item {
        margin-left: 0;
      }
    }
  }
}
