.form {

  :global {
    
    .ant-form-item-label {
      width: 90px;
      
      > label {
        color: #768098;
      }
    }
  }
}

.types {
  
  :global .ant-checkbox-group-item {
    margin: 0 20px 10px 0;
  }
}
