.filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.permissionsCell {
  .flex(row, nowrap, flex-start, center);
  .permissions{
    white-space: nowrap;
  }
}

.list {
  margin-top: 16px;
}