.container {
  background-color: #fff;
  margin-top: 12px;
  padding: 16px;
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.flowInformation {
  background-color: #fff;
  margin-top: 12px;
  color: #2c3e50;

  .flexCon {
    .flex(row, nowrap, flex-start, center);
  }
  .title {
    margin: 27px 0 19px;
    .name {
      position: relative;
      padding-left: 6px;
      padding-right: 8px;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #132144;
      &::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 14px;
        background: @primary-blue;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.storeContainer {
  padding: 0 55px;
  position: relative;
  border-bottom: 1px solid #e5e9f2;
  margin-top: 40px;
  ul {
    overflow-x: scroll;
    white-space: nowrap;
    height: 138px;
    width: 100%;

    li {
      width: 200px;
      margin-right: 100px;
      height: 138px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding: 12px 16px;
      cursor: pointer;
      .title {
        font-size: 16px;
        color: #132144;
        margin-bottom: 16px;
      }
      .content {
        display: flex;
        opacity: 0.4;
        .left {
          width: 70px;
          .name {
            color: #b8bdc4;
            font-size: 14px;
            margin-bottom: 10px;
          }
          .num {
            font-size: 24px;
            font-family: HelveticaNeue;
            color: #132144;
          }
        }
      }
      &:last-of-type {
        margin-right: 20px;
      }
    }
    .check {
      position: relative;
      .title {
        color: @primary-blue;
      }
      .content {
        opacity: 1;
      }
      &::after {
        position: absolute;
        content: '';
        width: 150px;
        height: 2px;
        background-color: @primary-blue;
        bottom: 0;
      }
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #b8bdc4;
    cursor: pointer;
  }
  .leftIcon {
    .icon();
    left: 18px;
  }
  .rightIcon {
    .icon();
    right: 18px;
  }
}

/** 客户组规模行*/
.clientRow{
  display: flex;
  margin-top: 16px;

  &Left{
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    position: relative;
  }

  &Right{
    min-width:320px;
  }
}
/** 客户组规模图*/
.customerGroupChart{

  .title{
    position:absolute;
    left: 16px;
    top: 10px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0,0,0,0.85);
    z-index: 1;
  }
}

.chartsContainer{
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  margin-top: 16px;
}