.drawCard {
  .wh(117px,37px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 12px 0px rgba(110, 139, 179, 0.25);
  border-radius: 4px;
  cursor: pointer;
  color: #222;
  // icon
  .arrowIcon {
    color: #959bab;
    transform: rotate(0);
    transition: transform 0.2s linear;
  }
  // icon
  .arrowIconUp {
    color: #959bab;
    transform: rotate(180deg);
    transition: transform 0.2s linear;
  }
}
