.container {
  background-color: #fff;
  .content {
    width: 1200px;
  }
}

.active-info-editor-form {

  :global {

    .ant-form-item-label {
      width: 100px;
      margin-right: 8px;
      text-align: right;
      overflow: initial;

      > label {
        color: #768098;
        white-space: normal;
      }
    }
  }

  .btn-wrapper {
    margin-left: 108px;
  }
}

