.container {
  .table {
    margin-top: -10px;
  }

  .progress {
    .flex(row, nowrap, space-between, center);

    .greyPoint {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #999999;
      margin-right: 4px;
    }

    .bluePoint {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #006AFF;
      margin-right: 4px;
    }

    .greenPoint {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #009963;
      margin-right: 4px;
    }

    .redPoint {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #F23030;
      margin-right: 4px;
    }
  }
}
